<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871010839502-tttcsn602iaa869s0tc2v9hatj7eoivq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871010839502-tttcsn602iaa869s0tc2v9hatj7eoivq</string>
	<key>API_KEY</key>
	<string>AIzaSyBaNDrnCHve1MWRx1mUXfHsy6plx-gSrRA</string>
	<key>GCM_SENDER_ID</key>
	<string>871010839502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myApp.shareKakeibo.dev</string>
	<key>PROJECT_ID</key>
	<string>sharekakeibo-dev-2372c</string>
	<key>STORAGE_BUCKET</key>
	<string>sharekakeibo-dev-2372c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871010839502:ios:cf00e86e266d9be19ed99f</string>
</dict>
</plist>