# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Firebase related
.firebase

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# fvm
.fvm/flutter_sdk

# firebase ビルド時に生成されるファイル
**/android/app/google-services.json
**/ios/GoogleService-Info.plist
**/ios/firebase_app_id_file.json

# firebase 関連のファイル
lib/config/firebase/dev/firebase_options.dart
lib/config/firebase/prod/firebase_options.dart
ios/dev/firebase_app_id_file.json
ios/dev/GoogleService-Info.plist
ios/prod/firebase_app_id_file.json
ios/prod/GoogleService-Info.plist
.firebaserc

# admob 関連のファイル
dart_defines/dev.json
dart_defines/prod.json
lib/constant/ad_unit_id.dart
public/app-ads.txt