<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502008914076-fij8262sr0phoep4et03dgh7650a8a1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502008914076-fij8262sr0phoep4et03dgh7650a8a1g</string>
	<key>API_KEY</key>
	<string>AIzaSyCV-2vQ9DTf2feK2GJGFCFsYq3rsvObJ3w</string>
	<key>GCM_SENDER_ID</key>
	<string>502008914076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myApp.shareKakeibo</string>
	<key>PROJECT_ID</key>
	<string>sharekakeibo-59b13</string>
	<key>STORAGE_BUCKET</key>
	<string>sharekakeibo-59b13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502008914076:ios:f1cbbee9a07a05feac8d59</string>
</dict>
</plist>